{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="{% static 'css/globals/globals.css' %}" typw="text/css">
    <link rel="stylesheet" href="{% static 'css/users/users.css' %}">
</head>
<body>
    <div class="nav-pane">
    {% include 'nav/navigation.html' %}
    </div>
    <div class="main-pane">
        dsfdsfghfrewsrdgftrewertyg
    </div>
</body>
</html>