{% load static %}

<link rel="stylesheet" href="{% static 'css/globals/globals.css' %}">

<div class="user-icon">
    fg
</div>
























<!-- <div class="user-menu" id="userMenu">
    <div class="profile-pic" onclick="toggleDropdown()"></div>
    <div class="dropdown-menu" id="dropdownMenu">
        <ul>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Log out</a></li>
            <li><a href="#">Change Profile Picture</a></li>
        </ul>
    </div>
</div>

<script>
    function toggleDropdown() {
        var dropdownMenu = document.getElementById("dropdownMenu");
        dropdownMenu.style.display === "none" ? dropdownMenu.style.display = "block" : dropdownMenu.style.display = "none";
    }
</script> -->
