{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login to Rapid Rescue</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--====================== Styles & Icons ============================-->

    <link rel="icon" type="image/png" href="{% static 'images/logo-greyscale.png' %}">
    
    <link rel="stylesheet" href="{% static 'css/globals/globals.css' %}">

    <link rel="stylesheet" href="{% static 'css/login/login.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/util/util.css' %}">

    <link rel="stylesheet" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
     
</head>
<body>
    <div class="limiter">
        <div class="login-main">
            <div class="login-wrap" style="box-shadow:  1px 1px 30px 1px black;">
                <div class="login-pic">
                    <img src="{% static 'images/logo-greyscale.png' %}" class=""  alt="IMG" >
                </div>
                <form action="" class="login-form validate-form" id="login-form" method="post">
                    {% csrf_token  %}
                    <h1 class="login-form-title"> Login To Rapid Rescue</h1>
                    {% if incorrect %}
                    <div>
                        Username or Password is incorrect
                        <br><br>
                    </div>
                    {% endif %}
                        <div class="wrap-input validate-input" data-validate ="Valid email is required: example@domain.xyz">
                            <input type="text" name="username" class="inputs" placeholder="Username">
                            <span class="focus-input"></span>
						    <span class="symbol-input">
							    <i class="fa fa-user" aria-hidden="true"></i>
						    </span> 
                        </div>
                    
                    <div class="wrap-input validate-input" data-validate ="Password is required">
                        <input type="password" name="pwd" class="inputs" placeholder="Password">
                        <span class="focus-input"></span>
						<span class="symbol-input">
						   <i class="fa fa-lock" aria-hidden="true"></i>
						</span>
                    </div>

                    <div id="popup" style="display: none;">
                        <p id="error-message"></p>
                    </div>
                    
                    <div class="container-login-form-btn">
                        <button type="submit" class="login-form-btn" >Login</button>
                    </div>
                    <div class="text-center p-t-25 p-b-35">
                        <span class="txt1">
                            Forgot Username / Password?
						</span>
						<span class="txt2" >
                            Contact Administrator
                        </p>
                    </div>
                </form>
            </div>

        </div>
    </div>

<!--===========================Scripts======================================-->

    <script src="{% static 'js/jquery/jquery-3.2.1.min.js' %}"></script>

    <script src="{% static 'js/login/login.js' %}"></script>

    <script>
    </script>

</body>
</html>